* {
    padding: 0;
    margin: 0;
    outline: solid red;
}

header .navbar {
    background-color: white;
}

.hero-section {
    background-image: url(../img/ciudad.jpg);
    width: 100%;
    padding-top: 0px;
    padding-bottom: 2055px;
    margin-top: 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    position: relative;
}

.fondo-naranja {
    background-color: #f7b617;
    width: 50%;
    padding-top: 84px;
    padding-bottom: 450px;
    margin-top: -50px;
    flex: right;
}

#primero {
    background-color: #f7b617;
    width: 100%;
    padding-top: 84px;
    padding-bottom: 560px;
    height: 100px;
}

.informacion {
    padding: 0px 30px;
}

.informacion img {
    background-color: #f7b617;
}

.informacion h3 {
    font-size: 4.2em;
    letter-spacing: 1px;
    color: white;
}

.informacion p {
    font-size: 1.0em;
    letter-spacing: 2px;
    color: white;
}

.informacion h5 {
    font-size: 1.2em;
    letter-spacing: 1px;
    color: white;
}

#segundo {
    background-image: url(../img/conduce.jpg);
    width: 100%;
    padding-top: 74px;
    padding-bottom: 455px;
    margin-top: 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    position: relative;
}

.oscuro {
    background-color: rgba(32, 23, 3, 072);
    opacity: 0.5;
    width: 50%;
    height: 400px;
}

#tercero {
    background-color: #f7b617;
    width: 100%;
    padding-top: 84px;
    padding-bottom: 560px;
    height: 100px;
}

#map {
    height: 50vh;
    width: 50%;
    border: 2px solid black;
}

button {
    margin: 15px auto;
    padding: 10px 15px;
    color: white;
    background-color: white;
    border: 0;
    font-weight: 700;
    border-radius: 2px;
    font-family: "Raleway";
    font-size: 15px;
    display: block;
}

button:hover,
button:focus {
    outline: 0;
}